# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
ENV/
.venv/
.env/

# Django migrations
**/migrations/

# SQLite database
*.sqlite3

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor configurations
.vscode/
.idea/

# Environment variables
.env
