<!DOCTYPE html>
<html>
    <head>
        <title>Contact</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <style>
            body {
                background-color: rgb(128, 116, 116);
            }
        </style>
    </head>
    <body>
        <div class = "container">
            <form>
                name<br />
                <input type = "text" name = "name" /> <br />
                <textarea placeholder="Type your message"></textarea>
                <h1>Contact</h1>
                <p>Phone Number: 888 888 8888</p>
            </form>
            <p>Back to <a href="/members">Members</a></p>
        </div>
    </body>
</html>